h1,h2,h3,h4,h5{
  color: #35373f !important;
}
.blog-area > h5 > a{color: #35373f !important;}
.btn-success{
  background-color: #3b8143 !important;
  border-color: #3b8143 !important;
}
p{
  color: #757575 !important;
}
.blog-area > div > img{
  max-height: 183px;
  max-width: 328px;
}
.image-blog{
  height: 183px;
}
.partner-area{
  margin-bottom: 20px;
}
.partner-area-image{
  width: 350px;
}
h5{padding-top:5px;padding-left:0;padding-bottom:0;}
.by-text{
  color: #757575 !important;
  font-size: 12px;
}
.desc{
  color: #9E9E9E !important;
}
.header{
  color: #3b8143 !important;
}
.navbar-inverse{
  background-color: #FFF !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.jumbotron{
  margin-top: 64px;
  height: 368px;
  background: url('img/bg.png') !important;
  border-radius: 0px !important;
}
.text-badge{
  background: rgba(255, 255, 255, 0.85);
  padding: 25px;
  border-radius: 15px;
}
.fb_iframe_widget span {
  vertical-align: baseline !important;
}
